<div class="container product-detail my-5">
    <!-- Begin top card -->
    <div class="row mt-5 card-wrapper">
        <!-- Begin left card -->
        <div class="card-product col-lg-5 col-md-12 col-12">
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">

                        {{#each product.images}}
                            <img src="{{this}}" class="product-img"/>
                        {{/each}}
                    </div>
                </div>
                <div class="img-select">

                    {{#each product.images}}
                        <div class="img-item">
                            <a href="#" data-id="{{@index}}">
                                <img src="{{this}}" class="product-img" alt="shoe image"/>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- End left card -->

        <!-- Begin right card -->
        <div class="col-lg-6 col-md-6 col-12 product-content">
            <h2 class="product-title">{{product.name}}</h2>

            <div class="seller">
                <div>Người bán</div>
                <span class="user-name">{{user.profile.name}} <i class="fa fa-user" aria-hidden="true"></i></span>
                <span class="user-point">{{user.point}}<i class="fa fa-heart" aria-hidden="true"></i> </span>
            </div>

            <div class="post-date">
                <label>Ngày đăng</label>
                <span>{{product.sellDate}}</span>
            </div>
            <div class="time-countdown">
                <label>Thời gian còn lại</label>
                <span class="{{product._id}}"> </span>

                <script async>
                    function countDown(dateExp) {

                        var countDownDate = +dateExp;
                        var distance;

                        // Update the count down every 1 second
                        var x = setInterval(function () {
                            distance = countDownDate - Date.now();
                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                            $(".{{product._id}}").html(days + "d : " + hours + "h :" + minutes + "m :" + seconds + "s");

                            // If the count down is finished, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                $(".{{product._id}}").html("EXPIRED");
                            }

                        }, 1000);
                    }

                    countDown(`{{product.expDate}}`)
                </script>


            </div>

            <div class="product-current-price">
                <label>Giá hiện tại</label>
                <span>{{product.currentPrice}} vnđ</span>
            </div>

            <div class="bidder">
                <div>Người ra giá cao nhất</div>
                <span class="user-name">{{product.highestBidder}}<i class="fa fa-user" aria-hidden="true"></i> </span>
            </div>

            <div class="product-buy-price">

                <div>Giá mua ngay</div>
                <div class="d-flex justify-content-between">
                    <span>{{product.bestPrice}} vnđ</span>
                    <button class="buynow-btn">Mua ngay</button>
                </div>

            </div>

            <form action="" class="d-flex justify-content-between">
                <input type="text" name="bid" id="" placeholder="Mức giá tối đa bạn tham gia"/>
                <button class="submit-btn">Đấu giá tự động</button>
            </form>
        </div>
        <!-- End right card -->

    </div>
    <!-- End top card -->

    <hr/>
    <!-- Begin bottom card -->
    <div class="row mt-5 card-wrapper">
        <div class="col-8">
            <h2>Mô tả sản phẩm</h2>
            <p>
                {{product.description}}
            </p>
        </div>

        <div class="col-lg-4 col-md-6 col-12 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">Thời điểm</th>
                    <th scope="col">Người mua</th>
                    <th scope="col">Giá</th>
                </tr>
                </thead>
                <tbody>


                {{#each product.historyBidId}}
                    <tr>
                        <td>{{bidDate}}</td>
                        <td>{{username}}</td>
                        <td>{{price}} vnđ</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <!-- End bottom card -->
</div>

<script>
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;
    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage() {
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
        document.querySelector('.img-showcase').style.transform = `translateX(${-(imgId) *
        displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);
</script>